
Unity_Settlers/Library/**/*
Unity_Settlers/Library/

===============
Unity generated
===============
Unity_Settlers/Temp/
Unity_Settlers/Library/
Unity_Settlers/Builds

=====================================
Visual Studio / MonoDevelop generated
=====================================
Unity_Settlers/ExportedObj/
Unity_Settlers/obj/
Unity_Settlers/*.svd
Unity_Settlers/*.userprefs
Unity_SettlersUnity_Settlers//*.csproj
Unity_Settlers/*.pidb
Unity_Settlers/*.suo
Unity_Settlers/*.sln
Unity_Settlers/*.user
Unity_Settlers/*.unityproj
Unity_Settlers/*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.pdb

*.meta

SolarSystem_Impression.userprefs

*.sln

*.sln

*.csproj

*.csproj

*.userprefs

*.sln

SolarSystem_Impression.userprefs

SolarSystem_Impression.sln

Assembly-CSharp.csproj

Assembly-CSharp-firstpass.csproj

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Assembly-CSharp.csproj

SolarSystem_Impression.sln

Temp/**/*
